.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 800px) {
        width: 240px;
      }
    
    .title {
        margin: 10px 0;
        @media screen and (max-width: 800px) {
            width: 2400px;
          }
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}